h1
{
    color:blue
}
h2
{
    color:darkblue
    
}

body
{
    background-image:url("../../images/depositphotos_71818631-stock-photo-sticky-note-about-me-concept.jpg")
}
p
{
    font-size: x-large;
}