<body>
    <h1>Raymond Clarke</h1>
    <h2>Major: Embedded Systems and Robotics</h2>
    <p>
    I am a robotics and embeded systems major, with a lot of background in software development.
    I have written code in many languages such as C++ JAVA Python as well as HTML and CSS.
    My inovation is in a device that can be located in many different places beucase of its size and 
    how easy it is to mount. The reason I thought of this inovation is that I like to shop from my couch,
    especially when it comes to grocery shopping. So I do not like having to get up off the couch to see 
    what is in the cupboad or the freezer. The only similar product that I can find is built into a 
    refridgerator and only tracks the items in that location. This is the reason that I cam up with the 
    idea of the Home inventory managment system.
    </p>
</body>
