<html>

<body>
    <h1>Welcome to the Home Inventory Magagment System</h1>

    <h2>Display</h2>
<img src="../../images/screen.jpg" >
<p>
    The home Inventory Managment System is made with the couch shopper in mind. 
    Are you tired of having to look through all your cupboards pantries fridges and freezers to find 
    out what you need for groceries? With the Home Inventory Managment System you will no longer have
    to get off your couch. This system will track items and sort them by location. Then all this information
    will be stored in one location that you can accesss through any device. Devices that you can install in 
    any location you wish will be able to scan the bar codes of items and automatically add and remove items
    from that location with one touch of a button. 
</p>

</body>

</html>
